<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326798247570-24hqokl8r5vv77p1jjkgnfequhepihu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326798247570-24hqokl8r5vv77p1jjkgnfequhepihu8</string>
	<key>API_KEY</key>
	<string>AIzaSyB4hA7-SEDpm-_DKOKfY3t9OEJLrJW2pz8</string>
	<key>GCM_SENDER_ID</key>
	<string>326798247570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lextolive.ExpensesR</string>
	<key>PROJECT_ID</key>
	<string>expensesr-cb03f</string>
	<key>STORAGE_BUCKET</key>
	<string>expensesr-cb03f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326798247570:ios:8fd22dc475192f851dc84b</string>
</dict>
</plist>